@mixin scrollbars($size, $thumbColor, $trackColor) {
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-thumb {
        background: $thumbColor;
        border-radius: 12px;
        outline: 1px solid $thumbColor;
    }

    &::-webkit-scrollbar-track {
        background: $trackColor;
    }
}
