.accountContainer {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .addressFormWrapper {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        border: 1px solid;
        border-radius: 5px;
        box-shadow: 2px 2px 10px gray;
        position: absolute;
        top: 25%;
        left: 25%;
        z-index: 50;

        .closeBtn {
            margin: 5px;
            padding: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-self: flex-end;
            background: none;
            border: 1px solid;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .addressForm {
            display: flex;
            flex-direction: column;
            align-items: center;

            .addressFormInput {
                margin-bottom: 10px;
                padding: 6px 12px;
                width: 350px;
                font-size: 18px;
                border: 1px solid;
                border-radius: 5px;

                &.invalid {
                    border-color: red;

                    &::placeholder {
                        color: red;
                    }
                }
            }
        }
    }

    .btns {
        margin: 10px;
        padding: 5px;
        background: none;
        border: 1px solid #bbbbbb;
        border-radius: 5px;

        &:hover {
            border-color: black;
            box-shadow: 0 2px 10px gray;
        }

        &:active {
            box-shadow: 0 0 5px gray;
        }
    }

    .agreeDeletionWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(104, 104, 104, 0.2);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;

        .agree {
            padding: 20px;
            width: 40%;
            min-height: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: white;
            border-radius: 5px;
            position: relative;

            .confirm {
                padding: 5px;
                background: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px solid;
                border-radius: 5px;
                position: absolute;
                box-shadow: 0 2px 10px gray;
                
                .confirmInput {
                    padding: 6px 12px;
                    width: 250px;
                    font-size: 18px;
                    border-radius: 5px;
                }
            }
        }
    }

    .headerWrapper {
        padding: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        border-bottom: 1px solid #bbbbbb;

        .settingsWrapper {
            margin-left: 10px; 
            position: relative;

            .settingsBtn {
                padding: 0;
                background: none;
                border: none;
                font-size: 24px;
                cursor: pointer;
            }

            .settings {
                padding: 12px;
                width: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background: white;
                border: 1px solid #bbbbbb;
                border-radius: 5px;
                box-shadow: 0 3px 10px gray;
                position: absolute;
                top: 35px;
                right: 0;
                z-index: 20;

                .settingsItem {
                    padding: 5px;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: #e8e8e8;
                    } 
                }
            }
        }
    }

    .infoWrapper {
        padding: 12px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        line-height: 24px;
        position: relative;

        .userInfoWrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .userProfileHeader {
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                font-size: 24px;

                .userPhotoWrapper {
                    margin-right: 15px;
                    font-size: 82px;
                    border: 5px solid;
                    border-radius: 50%;
                }
            }

            .userAddressInfo {
                font-size: 18px;
            }

            .userPhoneWrapper {
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                font-size: 28px;
                font-weight: bold;

                .phoneInput {
                    padding: 5px 10px;
                    font-size: 18px;
                    border-radius: 5px;

                    &.invalid {
                        border-color: red;

                        &::placeholder {
                            color: red;
                        }
                    }
                }

                .changeBtn {
                    margin-left: 15px;
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    background: none;
                    border: 1px solid;
                    border-radius: 50%; 
                }
            }

            .descriptionWrapper {
                display: flex;
                align-items: center;
                font-size: 18px;
                position: relative;

                .descriptionOutput {
                    margin-left: 10px;
                    padding: 5px;
                    width: 15px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    border: 1px solid;
                    border-radius: 50%;
                    cursor: default;
                }

                .description {
                    padding: 12px;
                    width: 400px;
                    background-color: rgb(243, 243, 243);
                    text-align: center;
                    border: 1px solid #bbbbbb;
                    border-radius: 5px;
                    box-shadow: 0 0 5px gray;
                    position: absolute;
                    top: -120px;
                    right: 0;
                }
            }
        }

        .subInfoWrapper {
            width: 250px;
            max-height: 600px;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;

            .inBucket, 
            .likes {
                margin-bottom: 5px;

                .itemsHeader {
                    padding: 5px;
                    background: #ececec;
                    border: 1px solid #bbbbbb;
                    border-radius: 5px 5px 0 0;
                    text-align: center;
                }

                .itemsWrapper {
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: 1px solid #bbbbbb;

                    .items{
                        margin-bottom: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .imageWrapper {
                            width: 80%;

                        }
                    }
                }
            }
        }
    }
}
