@use 'mixins/MediaMixins' as media;

.accountContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media.laptop {
        width: 900px;
    }

    @include media.desktop {
        width: 1400px;
    }

    .addressFormWrapper {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        border: 1px solid;
        border-radius: 5px;
        box-shadow: 0 2px 10px gray;
        position: absolute;
        top: 15%;
        left: 5%;
        z-index: 50;

        .closeBtn {
            margin: 5px;
            padding: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-self: flex-end;
            background: none;
            border: 1px solid;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .addressForm {
            display: flex;
            flex-direction: column;
            align-items: center;

            .addressFormInput {
                margin-bottom: 10px;
                padding: 6px 12px;
                width: 350px;
                font-size: 18px;
                border: 1px solid;
                border-radius: 5px;

                @include media.mobileS {
                    margin: 5px;
                    padding: 3px 6px;
                    width: 200px;
                    font-size: 12px;
                }

                @include media.laptop {
                    margin-bottom: 10px;
                    padding: 6px 12px;
                    width: 350px;
                    font-size: 18px;
                }

                @include media.desktop {
                    margin-bottom: 15px;
                    padding: 12px 6px;
                    width: 650px;
                    font-size: 24px;
                }

                &.invalid {
                    border-color: red;

                    &::placeholder {
                        color: red;
                    }
                }
            }
        }
    }

    .btns {
        margin: 10px;
        padding: 5px;
        background: none;
        border: 1px solid #bbbbbb;
        border-radius: 5px;

        @include media.mobileS {
            font-size: 12px;
            margin-left: 0;
        }

        @include media.laptop {
            margin-top: 15px;   
            padding: 5px 10px;
            font-size: 16px;
        }

        @include media.desktop {
            margin-top: 20px;
            padding: 12px 6px;
            font-size: 24px;
        }

        &:hover {
            border-color: black;
            box-shadow: 0 2px 10px gray;
        }

        &:active {
            box-shadow: 0 0 5px gray;
        }
    }

    .agreeDeletionWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(104, 104, 104, 0.2);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;

        @include media.desktop {
            font-size: 24px;
        }

        .agree {
            padding: 20px;
            width: 40%;
            min-height: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: white;
            border-radius: 5px;
            position: relative;

            @include media.mobileS {
                width: 80%;
            }

            @include media.desktop {
                width: 50%;
            }

            .confirm {
                padding: 5px;
                background: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px solid;
                border-radius: 5px;
                position: absolute;
                box-shadow: 0 2px 10px gray;
                
                .confirmInput {
                    padding: 6px 12px;
                    width: 250px;
                    font-size: 18px;
                    border-radius: 5px;

                    @include media.mobileS {
                        padding: 3px 6px;
                        width: 200px;
                        font-size: 12px;
                    }

                    @include media.laptop {
                        padding: 6px 12px;
                        width: 250px;
                        font-size: 18px;
                    }

                    @include media.desktop {
                        padding: 12px 6px;
                        width: 500px;
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .headerWrapper {
        padding: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        border-bottom: 1px solid #bbbbbb;

        @include media.mobileS {
            font-size: 12px;
        }

        @include media.laptop {
            font-size: 18px;
        }

        @include media.desktop {
            font-size: 24px;
        }

        .settingsWrapper {
            margin-left: 10px; 
            position: relative;

            .settingsBtn {
                padding: 0;
                background: none;
                border: none;
                font-size: 24px;
                cursor: pointer;

                @include media.mobileS {
                    font-size: 12px;
                }
                
                @include media.laptop {
                    font-size: 24px;
                }

                @include media.desktop {
                    font-size: 32px;
                }
            }

            .settings {
                padding: 12px;
                width: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background: white;
                border: 1px solid #bbbbbb;
                border-radius: 5px;
                box-shadow: 0 3px 10px gray;
                position: absolute;
                top: 35px;
                right: 0;
                z-index: 20;

                @include media.mobileS {
                    padding: 6px;
                    width: 150px;
                    font-size: 12px;
                }

                @include media.laptop {
                    padding: 12px;
                    width: 200px;
                    font-size: 16px;
                }

                @include media.desktop {
                    width: 300px;
                    font-size: 24px;
                    top: 45px;
                }

                .settingsItem {
                    padding: 5px;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: #e8e8e8;
                    } 
                }
            }
        }
    }

    .infoWrapper {
        padding: 12px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        line-height: 24px;
        position: relative;

        @include media.mobileS {
            flex-direction: column;
            font-size: 12px;
            line-height: normal;
        }

        @include media.laptop {
            flex-direction: row;
            font-size: 16px;
        }

        @include media.desktop {
            font-size: 32px;
        }

        .userInfoWrapper {
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            @include media.laptop {
                margin-right: 150px;
            }

            .userProfileHeader {
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                font-size: 24px;

                @include media.desktop {
                    font-size: 32px;
                }

                .userPhotoWrapper {
                    margin-right: 15px;
                    font-size: 82px;
                    border: 5px solid;
                    border-radius: 50%;

                    @include media.mobileS {
                        width: 65px;
                        height: 65px;
                        font-size: 55px;
                    }

                    @include media.laptop {
                        padding: 0;
                        width: auto;
                        height: auto;
                        display: flex;
                        font-size: 82px;
                    }

                    @include media.desktop {
                        font-size: 145px;
                    }
                }
            }

            .userAddressInfo {
                font-size: 12px;

                @include media.laptop {
                    font-size: 24px;
                }

                @include media.desktop {
                    font-size: 32px;
                }
            }

            .userPhoneWrapper {
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                font-size: 28px;
                font-weight: bold;

                @include media.mobileS {
                    font-size: 20px;
                }

                @include media.laptop {
                    font-size: 28px;
                }

                @include media.desktop {
                    font-size: 32px;
                }

                .phoneInput {
                    padding: 5px 10px;
                    font-size: 18px;
                    border-radius: 5px;

                    @include media.mobileS {
                        padding: 3px 5px;
                        font-size: 12px;
                    }

                    @include media.laptop {
                        padding: 6px 12px;
                        font-size: 16px;
                    }

                    @include media.desktop {
                        width: 400px;
                        font-size: 32px;
                    }

                    &.invalid {
                        border-color: red;

                        &::placeholder {
                            color: red;
                        }
                    }
                }

                .changeBtn {
                    margin-left: 15px;
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    background: none;
                    border: 1px solid;
                    border-radius: 50%; 

                    @include media.mobileS {
                        margin-left: 10px;
                    }

                    @include media.desktop {
                        padding: 10px;
                        font-size: 28px;
                    }
                }
            }

            .descriptionWrapper {
                display: flex;
                align-items: center;
                font-size: 18px;
                position: relative;
                
                @include media.mobileS {
                    font-size: 13px;
                }

                @include media.laptop {
                    font-size: 18px;
                }

                @include media.desktop {
                    font-size: 32px;
                }

                .descriptionOutput {
                    margin-left: 10px;
                    padding: 5px;
                    width: 15px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    border: 1px solid;
                    border-radius: 50%;
                    cursor: default;

                    @include media.mobileS {
                        margin-left: 5;
                        position: relative;
                        left: -40px;
                    }

                    @include media.tablet {
                        left: 0;
                    }

                    @include media.laptop {
                        margin-left: 10px;
                        width: 20px;
                        height: 20px;
                        font-size: 16px;
                        left: -70px;
                    }

                    @include media.desktop {
                        width: 30px;
                        height: 30px;
                        font-size: 24px;
                        position: relative;
                        left: -70px;
                    }
                }

                .description {
                    padding: 12px;
                    width: 400px;
                    background-color: rgb(243, 243, 243);
                    text-align: center;
                    border: 1px solid #bbbbbb;
                    border-radius: 5px;
                    box-shadow: 0 0 5px gray;
                    position: absolute;
                    top: -120px;
                    right: 0;

                    @include media.mobileS {
                        padding: 6px;
                        width: 250px;
                        font-size: 12px;
                        top: -70px;
                    }

                    @include media.laptop {
                        padding: 12px;
                        width: 450px;
                        font-size: 16px;
                        top: -90px;
                    }

                    @include media.desktop {
                        width: 600px;
                        font-size: 24px;
                        top: -120px;
                    }
                }
            }
        }

        .subInfoWrapper {
            width: 250px;
            display: flex;
            flex-direction: column;

            @include media.mobileS {
                width: 100%;
            }

            @include media.laptop {
                width: 250px;
            }

            @include media.desktop {
                width: 500px;
            }

            .inBucket, 
            .likes {
                margin-bottom: 5px;
                cursor: pointer;

                .itemsHeader {
                    padding: 5px;
                    background: #f8f8f8;
                    border: 1px solid #bbbbbb;
                    border-radius: 5px 5px 0 0;
                    text-align: center;
                }

                .itemsWrapper {
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: 1px solid #bbbbbb;
                    max-height: 600px;
                    overflow-y: scroll;

                    @include media.mobileS {
                        max-height: 250px;
                    }

                    @include media.laptop {
                        max-height: 500px;
                    }

                    .items{
                        margin-bottom: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .imageWrapper {
                            width: 80%;
                            display: flex;
                            justify-content: center;

                            @include media.mobileS {
                                width: 100px;
                            }
                            
                            @include media.laptop {
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }
    }
}
