@use 'mixins/MediaMixins.scss' as media;

$lightgrayBorder: #bbbbbb;
$gray: gray;
$white: white;
$red: red;

.addressFormWrapper {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $white;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0 2px 10px $gray;
    position: absolute;
    top: 15%;
    left: -100%;
    opacity: 0;
    z-index: 50;

    &.openForm {
        animation: open-form .4s linear forwards;
    }

    &.closeForm {
        animation: close-form .4s linear forwards;
    }

    @keyframes open-form {
        0% {
            opacity: 0;
            left: -100%;
        }

        100% {
            opacity: 1;
            left: 2%;
        }
    }

    @keyframes close-form {
        0% {
            opacity: 1;
            left: 2%;
        }

        100% {
            opacity: 0;
            left: -100%;
        }
    }

    .closeBtn {
        margin: 5px;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: flex-end;
        background: none;
        border: 1px solid;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .addressForm {
        display: flex;
        flex-direction: column;
        align-items: center;

        .inputWrapper {
            margin-bottom: 20px;
            width: 100%;
            position: relative;

            .addressFormInput {
                padding: 6px 12px;
                width: 350px;
                border: 1px solid $lightgrayBorder;
                border-radius: 5px;

                @include media.mobileS {
                    padding: 4px 8px;
                    width: 250px;
                }

                @include media.laptop {
                    padding: 6px 12px;
                    width: 350px;
                    font-size: 18px;
                }

                &.invalid {
                    border-color: $red;
                }
            }
        }
    }
}
