@use "MediaMixins" as media;

@mixin scrollbars($size, $thumbColor, $trackColor) {
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-thumb {
        background: $thumbColor;
        border-radius: 12px;
        outline: 1px solid $thumbColor;
    }

    &::-webkit-scrollbar-track {
        background: $trackColor;
    }
}

.adminPageContainer {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @include media.mobileS {
        width: 100%;
    }

    .logFormWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .welcomWrapper {
        margin-bottom: 45px;
        width: 100%;
        font-size: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media.mobileS {
            margin-bottom: 20px;
            padding: 0 20px;
            font-size: 14px;
        }

        .homeBtn {
            padding: 4px 8px;
            width: 70px;
            background: none;
            border: 1px solid #bbbbbb;
            border-radius: 5px;

            @include media.mobileS {
                padding: 3px 6px;
                width: auto;
                font-size: 12px;
            }

            &:hover {
                color: black;
                border-color: black;
                box-shadow: 0 0 3px;
            }

            &:active {
                box-shadow: 0 0 1px;
            }
        }
    }

    .adminPanelHeader {
        padding: 12px;
        padding-bottom: 0;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 50px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid #bbbbbb;

        @include media.mobileS {
            padding: 6px;
            font-size: 12px;
            justify-content: space-between;
        }

        .menuButton {
            padding: 5px;
            border: 1px solid #bbbbbb;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .addProductForm {
        padding: 24px;
        width: 900px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include media.mobileS {
            padding: 0;
            width: 100%;
        }

        .formWrapper {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .addProductInput {
                margin-bottom: 10px;
                padding: 12px 6px;
                width: 350px;
                border: 1px solid #bbbbbb;
                border-radius: 5px;

                @include media.mobileS {
                    width: 300px;

                    &:last-child {
                        margin-bottom: 20px;
                    }
                }

            }

            .previewBtn {
                margin-right: 20px;
                padding: 5px 10px;
                text-align: center;
                background: none;
                border: 1px solid #bbbbbb;
                border-radius: 5px;
            }

            .submitButton {
                padding: 10px 5px;
                width: 200px;
                text-align: center;
                background: none;
                border: 1px solid #bbbbbb;
                border-radius: 5px;

                @include media.mobileS {
                    padding: 5px 10px;
                    width: auto;
                }

                &:hover {
                    box-shadow: 0 2px 4px gray;
                }

                &:active {
                    box-shadow: none;
                }
            }
        }

        .previewCard {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            @include media.mobileS {
                width: 310px;
                position: absolute;
            }

            .closeBtn {
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #bbbbbb;
                border-radius: 50%;
            }

            .productCard {
                padding: 10px;
                width: 350px;
                height: 250px;
                max-height: 250px;
                margin: 0 0 20px 20px;
                background: white;
                border: 1px solid #bbbbbb;
                border-radius: 5px;
                box-shadow: 0 0 10px gray;
                position: relative;

                @include media.mobileS {
                    width: 300px;
                    position: absolute;
                    top: -200px;
                }

                .cardContentWrapper {
                    padding-bottom: 10px;
                    display: flex;

                    .cardInfo {
                        width: 200px;
                        padding: 12px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;

                        .stuffTitle {
                            text-align: end;
                            margin-bottom: 15px;
                            font-weight: bold;
                        }
                    }
                }

                .cardButtons {
                    padding: 10px;
                    width: 88%;
                    height: 30px;
                    display: flex;
                    justify-content: flex-end;
                    border-top: 1px solid #bbbbbb;
                    position: absolute;
                    bottom: 25px;

                    .cartButton {
                        width: 35px;
                        height: 35px;
                        background: none;
                        border: 1px solid #bbb;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .productsTable {
        min-width: 725px;
        max-width: 725px;
        max-height: 500px;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        border: 1px solid #bbbbbb;
        position: relative;

        @include scrollbars(1px, #bbbbbb, none);

        @include media.mobileS {
            min-width: 310px;
            max-width: 310px;
            min-height: 400px;
            max-height: 400px;
        }

        .updateContainer {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(107, 107, 107, 0.3);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;

            .formContainer {
                padding: 12px;
                width: 90%;
                background: white;
                display: flex;
                flex-direction: column;
                align-items: center;

                .imageFormWrapper {
                    margin: 50px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .updateForm {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        label {
                            margin-bottom: 3px;
                            width: 100%;
                            font-size: bold;
                        }

                        .updateInput {
                            margin-bottom: 5px;
                            padding: 6px 12px;
                            width: 300px;
                            border: 1px solid #bbbbbb;
                            border-radius: 5px;

                            @include media.mobileS {
                                padding: 3px 6px;
                                width: 250px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            .updateBtnWrapper {
                width: 300px;
                display: flex;
                justify-content: space-around;

                .saveBtn {
                    margin: auto;
                    padding: 4px 8px;
                    width: 100px;
                    background: none;
                    border: 1px solid #bbbbbb;
                    border-radius: 5px;

                    &:hover {
                        box-shadow: 0 0 3px;
                    }

                    &:active {
                        box-shadow: 0 0 1px;
                    }
                }
            }
        }

        .productsWrapper {
            padding: 12px;
            min-height: 50px;
            max-height: 500px;
            position: absolute;
            overflow-y: auto;

            @include media.mobileS {
                padding: 6px;
                overflow-y: scroll;
            }

            .productRow {
                margin-bottom: 15px;
                min-width: 680px;
                max-width: 680px;
                display: flex;
                flex-direction: row;
                border: 1px solid #bbbbbb;
                border-radius: 5px;

                @include media.mobileS {
                    margin-bottom: 5px;
                    max-width: 296px;
                    min-width: 296px;
                    font-size: 8px;
                }

                &.header {
                    height: 50px;
                    display: flex;
                    align-items: center;

                    @include media.mobileS {
                        height: 20px;
                    }
                }

                .imageWrapper {
                    width: 60px;
                }

                .rowItems {
                    padding: 3px;
                    width: 120px;
                    height: inherit;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-right: 1px solid #bbbbbb;

                    &.header {
                        width: 54px;
                        &:first-child {
                            margin-left: 80px;

                            @include media.mobileS {
                                margin-left: 25px;
                            }
                        }
                    }

                    &:last-child {
                        border-right: none;
                        display: flex;
                        justify-content: space-evenly;
                    }
                }

                .rowBtn {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 40px;
                    background: none;
                    border: 1px solid;
                    border-radius: 50%;

                    @include media.mobileS {
                        padding: 2px;
                        width: auto;
                        height: auto;
                        font-size: 10px;
                    }

                    &:hover {
                        box-shadow: 0 0 10px gray;
                    }

                    &:active {
                        box-shadow: 0 0 5px gray;
                    }

                    &.delete {
                        &:hover {
                            color: white;
                            background: red;
                        }
                    }

                    &.update {
                        &:hover {
                            color: white;
                            background: blue;
                        }
                    }
                }
            }
        }
    }
}
