@use 'mixins/MediaMixins.scss' as media;

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;

    @include media.laptop {
        font-size: 18px;
    }

    .checkboxesContainer {
        margin-bottom: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-self: center;

        .checkboxWrapper {
            display: flex;
            align-items: center;

            .checkbox {
                margin-right: 5px;
                width: 10px;
                height: 10px;
                border: 1px solid;
                cursor: pointer;

                @include media.laptop {
                    margin-right: 15px;
                }

                &.checked {
                    background-color: green;
                }
            }
        }
    }

    .billingInput {
        margin-right: 15px;
        margin-bottom: 5px;
        padding: 3px 6px;
        width: 100%;
        border: 1px solid #bbbbbb;
        border-radius: 5px;

        @include media.laptop {
            margin-bottom: 15px;
            padding: 6px 12px;
            font-size: 18px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .row {
        margin-bottom: 15px;
        display: flex;
        align-items: center;

        .billingInput {
            width: 30%;
        }
    }

    .submitBtn {
        padding: 3px 6px;
        background: none;
        border: 1px solid;
        border-radius: 5px;
    }
}