@use 'mixins/MediaMixins' as media;
@use 'mixins/ScrollbarMixin.module.scss' as *;

$lightgrayBorder: #bbbbbb;
$gray: gray;
$white: white;
$backOnHover: #e8e8e8;

.cartContainer {
    padding: 20px;
    width: 290px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $white;
    border: 2px solid $lightgrayBorder;
    box-shadow: 0 2px 5px $gray;
    position: fixed;
    opacity: 0;
    top: 50px;
    right: 2%;

    &.open {
        animation: open-cart .2s linear forwards;
    }

    &.close {
        animation: close-cart .2s linear forwards;
    }

    @keyframes open-cart {
        0% {
            height: 0;
            top: -10px;
            opacity: 0;
        }
        100% {
            height: 500px;
            top: 50px;
            opacity: 1;
            z-index: 300;
        }
    }

    @keyframes close-cart {
        0% {
            height: 500px;
            top: 50px;
            opacity: 1;
            z-index: 300;
        }
        99% {
            height: 0;
            top: -100px;
            opacity: 0;
        }
    }

    @include media.laptop {
        margin: 0;
        padding: 5px;
        width: 90%;
    }

    .emptyCart {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 28px;
        
        @include media.mobileS {
            font-size: 16px;
        }

        @include media.tablet {
            font-size: 18px;
        }

        @include media.laptop {
            font-size: 18px;
        }
    }

    .productWrapper {
        margin-bottom: 25px;
        padding: 2px;
        max-width: 95vw;
        max-height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;

        @include scrollbars(1px, $lightgrayBorder, none);
    }
}

.orderButton {
    margin: auto;
    width: 150px;
    display: flex;
    background: none;
    border: 1px solid $lightgrayBorder;
    border-radius: 5px;

    @include media.mobileS {
        width: auto;
        font-size: 12px;
    }

    @include media.laptop {
        font-size: 18px;
    }

    @include media.desktop {
        padding: 12px 6px;
        font-size: 20px;
    }

    &:hover {
        box-shadow: 0 0 6px $gray;
    }

    &:active {
        box-shadow: 0 0 3px $gray;
    }
}
