@use 'mixins/MediaMixins' as media;
@use 'mixins/ScrollbarMixin.module.scss' as *;

$lightgrayBorder: #bbbbbb;
$gray: gray;
$white: white;
$backOnHover: #e8e8e8;

.cartContainer {
    padding: 40px;
    width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media.mobileS {
        margin: 0;
        padding: 5px;
        width: 100%;
    }

    .emptyCart {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 28px;
        
        @include media.mobileS {
            font-size: 16px;
        }

        @include media.tablet {
            font-size: 18px;
        }

        @include media.laptop {
            font-size: 18px;
        }
    }

    .productWrapper {
        margin-bottom: 25px;
        max-width: 95vw;
        display: flex;
        align-items: center;
        overflow-x: scroll;

        @include scrollbars(1px, $lightgrayBorder, none);
    }
}

.orderButton {
    margin: auto;
    width: 150px;
    display: flex;
    background: none;
    border: 1px solid $lightgrayBorder;
    border-radius: 5px;

    @include media.mobileS {
        width: auto;
        font-size: 12px;
    }

    @include media.laptop {
        font-size: 18px;
    }

    @include media.desktop {
        padding: 12px 6px;
        font-size: 20px;
    }

    &:hover {
        box-shadow: 0 0 6px $gray;
    }

    &:active {
        box-shadow: 0 0 3px $gray;
    }
}
