@use 'MediaMixins' as media;

.cartContainer {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    .cart {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
    }
    
    .badge {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-size: 10px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: firebrick;
        color: white;
        top: 0;
        right: 0;

        @include media.mobileS {
            width: 12px;
            height: 12px;
            top: 4px;
            right: 7px;
        }
    }
}
