@use 'mixins/MediaMixins.scss' as media;
@use 'mixins/ScrollbarMixin.module.scss' as *;

$lightgrayBorder: #bbbbbb;
$white: white;
$red: red;

.container {
    width: 100%;
    height: 100%;
    position: relative;

    .input {
        padding: 6px 12px;
        padding-right: 30px;
        width: 100%;
        border: 2px solid $lightgrayBorder;
        border-radius: 5px;

        &.search {
            border-radius: 5px 5px 0 0;
        }

        &.invalid {
            border-color: $red;
        }

        @include media.mobileS {
            padding-right: 0;
        }

        @include media.laptop {
            padding: 6px 12px;
            font-size: 18px;
        }
    }

    .arrowWrapper {
        width: 20px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid $lightgrayBorder;
        position: absolute;
        top: 0;
        right: 5px;

        .arrow {
            width: 20x;
            height: 20px;
            color: $lightgrayBorder;
            transition: transform .1s ease-out;
            position: relative;

            &.up {
                transform: rotate(0deg);
                left: 3px;
            }

            &.down {
                transform: rotate(180deg);
                left: 3px;
            }
        }
    }

    .optionsList {
        margin: 0;
        padding: 0;
        max-height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: $white;
        border: 1px solid $lightgrayBorder;
        border-top: none;
        border-radius: 0 0 5px 5px;
        list-style: none;
        overflow-y: scroll; 
        position: absolute;
        top: 100%;
        z-index: 100;
        transition: height .1s linear;

        &.open {
            height: 140px;
        }

        &.closed {
            height: 0;
            border: none;
        }

        @include scrollbars(1px, none, $lightgrayBorder);

        .option {
            padding: 5px;
            width: 100%;
            font-size: 16px;

            @include media.laptop {
                padding: 8px;
                font-size: 18px;
            }

            &:hover {
                background-color: $lightgrayBorder;
                color: $white;
            }
        }
    }
}
