@use 'mixins/MediaMixins.scss' as media;
@use 'mixins/ScrollbarMixin.module.scss' as *;

$lightgrayBorder: #bbbbbb;
$itemHeaderBack: #f8f8f8;

.likes {
    margin-bottom: 5px;
    cursor: pointer;

    .itemsHeader {
        padding: 5px;
        background: $itemHeaderBack;
        border: 1px solid $lightgrayBorder;
        border-radius: 5px 5px 0 0;
        text-align: center;
        position: relative;
        z-index: 10;
    }

    .itemsWrapper {
        padding: 0;
        height: 0;
        max-height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $lightgrayBorder;
        position: relative;
        overflow-y: scroll;
        top: -5px;
        z-index: 1;

        &.openDropdown {
            animation: open-dropdown .2s linear forwards;
        }

        &.closeDropdown {
            animation: close-dropdown .2s linear forwards;
        }

        @keyframes open-dropdown {
            0% {height: 0px; overflow: hidden;}
            100% {
                height: 500px;
                padding: 10px;
                overflow: scroll;
                top: 0;
            }
        }

        @keyframes close-dropdown {
            0% {
                padding: 10px;
                height: 500px;
                top: 0;
            }
            100% {
                padding: 0;
                height: 0;
                top: -5px;
            }
        }

        @include scrollbars(1px, $lightgrayBorder, none);

        @include media.mobileS {
            max-height: 250px;
        }

        @include media.laptop {
            max-height: 500px;
        }

        .items{
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .imageWrapper {
                width: 80%;
                display: flex;
                justify-content: center;

                @include media.mobileS {
                    width: 100px;
                }
                
                @include media.laptop {
                    width: 60%;
                }
            }
        }
    }
}