@use 'MediaMixins' as media;

.ordersContainer {
    font-size: 18px;

    @include media.mobileS {
        padding: 5px;
        font-size: 12px;
    }

    @include media.tablet {
        padding: 10px;
        font-size: 16px;
    }

    .ordersWrapper {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;

        .orderWrapper {
            margin-bottom: 15px;
            padding: 12px;
            width: 750px;
            display: flex;
            justify-content: space-between;
            border: 1px solid #bbbbbb;
            border-radius: 5px;

            @include media.mobileS {
                padding: 6px;
                width: 100%;
            }

            &:hover {
                box-shadow: 0 0 10px gray;
                cursor: pointer;
            }

            &:active {
                box-shadow: 0 0 5px gray;
            }

            .statusSection {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }

            .orderItems {
                margin: 0;
                width: 250px;
                list-style: none;

                @include media.mobileS {
                    width: 200px;
                }

                @include media.tablet {
                    width: 250px;
                }

                li {
                    padding-left: 5px;
                }
            }
        }
    }
}
