@use 'mixins/MediaMixins' as media;
@use 'mixins/ScrollbarMixin.module.scss' as *;

$lightgrayBorder: #bbbbbb;
$black: black;
$red: red;
$gray: gray;

.orderContainer {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .orderForm {
        margin-bottom: 15px;
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;

        @include media.laptop {
            padding: 20px;
            width: 70%;  
            font-size: 18px;          
        }

        @include media.desktop {
            padding: 25px;
            width: 500px;
        }

        .row {
            margin-bottom: 20px;
            width: 100%;
            display: flex; 
            justify-content: space-between;
            align-items: flex-end;


            .inputWrapper {
                &:first-child {
                    width: 60%;
                }

                &:last-child {
                    width: 30%;
                }
            }
        }

        .inputWrapper {
            margin-bottom: 15px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            position: relative;

            .formLabel {
                width: 100%;
                margin-bottom: 4px;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                font-size: 16px;
                font-weight: bold;

                @include media.mobileS {
                    padding-left: 10px;
                    font-size: 13px;
                }

                @include media.laptop {
                    padding-left: 15px;
                    font-size: 18px;
                }

                .autocompleteBtn {
                    padding: 2px;
                    width: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: none;
                    font-weight: normal;
                    border: 1px solid $lightgrayBorder;
                    border-radius: 5px;

                    &:hover {
                        border-color: $black;
                        box-shadow: 0 2px 5px $gray;
                    }

                    &:active {
                        border-color: $black;
                        box-shadow: 0 1px 2px $gray;
                    }

                    &:disabled {
                        border-color: $lightgrayBorder;
                        color: $lightgrayBorder;
                        box-shadow: none;
                    }

                    @include media.desktop {
                        padding: 5px;
                    }
                }
            }

            .formInput {
                padding: 6px 12px;
                width: 100%;
                border: 2px solid $lightgrayBorder;
                border-radius: 5px;

                &.invalid {
                    border-color: $red;
                }

                @include media.laptop {
                    padding: 6px 12px;
                    font-size: 18px;
                }
            }
        }

        .submitBtn {
            margin: auto;
            padding: 6px 12px;
            width: auto;
            background: none;
            border: 1px solid $lightgrayBorder;
            border-radius: 5px;

            &:hover {
                border-color: $black;
                box-shadow: 0 0 3px;
            }

            &:active {
                box-shadow: 0 0 1px;
            }

            @include media.laptop {
                font-size: 18px;
            }
        }
    }
}
