@use 'mixins/MediaMixins' as media;
@use 'mixins/ScrollbarMixin.module.scss' as *;

.orderContainer {
    margin: auto;
    width: 1360px;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @include media.mobileS {
        width: 100%;
        min-height: 300px;
    }

    .orderForm {
        margin-bottom: 15px;
        padding: 20px;
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;

        @include media.mobileS {
            padding: 10px;
            width: 100%;
        }

        @include media.laptop {
            padding: 20px;
            width: 70%;  
            font-size: 18px;          
        }

        @include media.desktop {
            padding: 25px;
            width: 500px;
        }

        .row {
            width: 100%;
            display: flex; 
            justify-content: space-between; 

            .inputWrapper {
                &:first-child {
                    width: 60%;
                }

                &:last-child {
                    width: 30%;
                }
            }
        }

        .formLabel {
            width: 100%;
            margin-bottom: 4px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            font-size: 16px;
            font-weight: bold;

            @include media.mobileS {
                padding-left: 10px;
                font-size: 13px;
            }

            @include media.laptop {
                padding-left: 15px;
                font-size: 18px;
            }

            .autocompleteBtn {
                padding: 2px;
                font-weight: normal;
                border: 1px solid #bbbbbb;
                border-radius: 5px;

                @include media.desktop {
                    padding: 5px;
                }
            }
        }

        .formInput {
            margin-bottom: 30px;
            padding: 6px 12px;
            width: 100%;
            border: 2px solid #bbb;
            border-radius: 8px;

            @include media.mobileS {
                margin-bottom: 15px;
                padding: 3px 6px;
                font-size: 12px;
            }

            @include media.laptop {
                margin-bottom: 20px;
                padding: 6px 12px;
                font-size: 18px;
            }

            &.invalid {
                border-color: red;

                &::placeholder {
                    color: red;
                }
            }
        }

        .submitBtn {
            margin: auto;
            padding: 6px 12px;
            width: auto;
            background: none;
            border: 1px solid #bbbbbb;
            border-radius: 5px;

            &:hover {
                border-color: black;
                box-shadow: 0 0 3px;
            }

            &:active {
                box-shadow: 0 0 1px;
            }
        }
    }

    .stuffWrapper {
        width: 400px;
        max-height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;

        @include media.mobileS {
            display: none;
        }

        @include media.tablet {
            width: 350px;
            max-height: 300px;
            display: flex;
        }

        @include media.laptop {
            width: 450px;
            max-height: 500px;
            display: flex;
        }

        .productCard {
            margin: 0 0 20px 20px;
            padding-top: 15px;
            width: 300px;
            height: 200px;
            display: flex;
            justify-content: space-between;
            box-shadow: 2px 3px 10px gray;

            @include media.tablet {
                width: 200px;
                height: 150px;
                font-size: 14px;
            }

            @include media.laptop {
                width: 250px;
                height: 200px;
                font-size: 16px;
            }
    
            .cardContentWrapper {
                width: 100%;
                display: flex;
                justify-content: space-between;
    
                .cardInfo {
                    width: 200px;
                    padding: 12px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    @include media.laptop {
                        font-size: 18px;
                    }
    
                    .stuffTitle {
                        text-align: end;
                        margin-bottom: 15px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
