@use 'mixins/MediaMixins' as media;

$lightgrayBorder: #bbbbbb;
$gray: gray;
$white: white;
$red: red;
$green: green;

.productCard {
    margin: 20px 0;
    padding: 10px;
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $white;
    border: 1px solid $lightgrayBorder;
    border-radius: 5px;
    box-shadow: 2px 3px 10px $gray;

    &.outOfOrder {
        opacity: .5;
    }

    @include media.mobileS {
        margin: 10px;
        margin-right: 10px;
        padding: 0;
        width: 230px;
        height: 200px;
        font-size: 12px;
    }

    @include media.laptop {
        margin: 1px 25px 25px 1px;
        padding: 5px;
        width: 250px;
        height: 200px
    }

    @include media.desktop {
        width: 300px;
        height: 250px;
        font-size: 18px;
    }

    .imageWrapper {
        width: 150px;
        height: 100px;

        @include media.laptop {
            width: 150px;
            height: 100px;
        }

        @include media.desktop {
            width: 120px;

        }
    }

    .cardContentWrapper {
        padding-bottom: 10px;
        display: flex;
        cursor: pointer;

        @include media.mobileS {
            padding: 5px 0;
        }

        @include media.laptop {
            padding: 10px 0;
        }

        .cardInfo {
            width: 150px;
            padding: 12px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .productTitle {
                text-align: end;
                margin-bottom: 15px;
                font-weight: 500;

                @include media.mobileS {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .cardButtons {
        padding: 5px;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid $lightgrayBorder;

        @include media.desktop {
            height: 40px;
        }

        .deleteButton {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $red;
            color: $white;
            font-weight: bold;
            font-size: 16px;
            border: 1px solid $lightgrayBorder;
            border-radius: 50%;

            @include media.laptop {
                padding: 5px;
                font-size: 18px;
            }

            &:hover {
                box-shadow: 0 0 6px $gray;
            }

            &:active {
                box-shadow: 0 0 3px $gray;
            }
        }

        .cartButton {
            margin-right: 5px;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            background: none;
            border: 1px solid $lightgrayBorder;
            border-radius: 50%;
            z-index: 10;

            @include media.laptop {
                width: 30px;
                height: 30px;
            }

            @include media.desktop {
                padding: 5px;
                width: auto;
                height: auto;
                font-size: 18px;
            }

            &:hover {
                box-shadow: 0 0 6px $gray;
            }

            &:active {
                box-shadow: 0 0 3px $gray;
            }

            &.ordered {
                background-color: $green;
                color: $white;

                &:disabled {
                    opacity: .6;
                }
            }

            &.liked {
                background-color: $red;
                color: $white;
            }
        }
    }
}
