@use 'mixins/MediaMixins' as media;

$lightgrayBorder: #bbbbbb;
$black: black;
$red: red;

.regForm {
    padding: 12px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $lightgrayBorder;
    border-radius: 5px;

    @include media.mobileS {
        padding: 5px;
        width: 300px;
    }

    @include media.laptop {
        padding: 12px;
        width: 500px;
    }

    .regTitle {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
    }

    .regInput {
        margin-bottom: 20px;
        padding: 5px 10px;
        width: 100%;
        font-size: 18px;
        border: 1px solid $lightgrayBorder;
        border-radius: 5px;

        @include media.mobileS {
            margin-bottom: 10px;
            font-size: 12px;
        }

        @include media.laptop {
            margin-bottom: 15px;
            font-size: 18px;
        }

        &.invalid {
            border-color: $red;
            
            &::placeholder {
                color: $red;
            }
        }
    }

    .regBtn {
        padding: 5px 10px;
        width: 100px;
        background: none;
        border: 1px solid $lightgrayBorder;
        border-radius: 5px;

        @include media.mobileS {
            width: auto;
        }

        @include media.laptop {
            margin-top: 20px;
            font-size: 18px;
        }

        &:hover {
            color: $black;
            border-color: $black;
            box-shadow: 0 0 6px;
        }

        &:active {
            box-shadow: 0 0 3px;
        }
    }
}
