@use 'MediaMixins' as media;    

.contentContainer {
    padding: 10px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media.mobileS {
        padding: 5px;
    }
    
    .loader {
        margin: auto;
        width: 200px;
        height: 200px;
        text-align: center;
    }

    .errorWrapper {
        margin: auto;
        width: 300px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-weight: 500;
        color: white;
        background-color: rgb(255, 72, 72);
        border: 1px solid red;
        border-radius: 10px;
        box-shadow: 0 0 15px red;

        @include media.mobileS {
            width: 200px;
            height: 100px;
            font-size: 16px;
        }
    }

    .productWrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .productCard {
            margin: 20px 0;
            padding: 10px;
            width: 350px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 1px solid #bbb;
            box-shadow: 2px 3px 10px gray;

            @include media.mobileS {
                margin: 10px 0;
                margin-right: 10px;
                padding: 0;
                width: 200px;
                height: 150px;
                font-size: 12px;
            }

            @include media.laptop {
                margin-right: 25px;
                margin-bottom: 25px;
                padding: 5px;
                width: 250px;
                height: 200px
            }

            @include media.desktop {
                margin-right: 35px;
                margin-bottom: 25px;
                width: 400px;
                height: 300px;
                font-size: 18px;
            }

            .imageWrapper {
                width: 150px;
                height: 100px;

                @include media.laptop {
                    width: 160px;
                    height: 130px;
                }

                @include media.desktop {
                    width: 200px;
                    height: 170px;
                }
            }

            .cardContentWrapper {
                padding-bottom: 10px;
                display: flex;
                cursor: pointer;

                @include media.mobileS {
                    padding: 5px 0;
                }

                @include media.laptop {
                    padding: 10px 0;
                }

                .cardInfo {
                    width: 200px;
                    padding: 12px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    .stuffTitle {
                        text-align: end;
                        margin-bottom: 15px;
                        font-weight: 500;

                        @include media.mobileS {
                            margin-bottom: 5px;
                        }
                    }
                }
            }

            .cardButtons {
                padding: 5px;
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: flex-end;
                border-top: 1px solid #bbbbbb;

                @include media.desktop {
                    height: 60px;
                }

                .cartButton {
                    margin-right: 5px;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    background: none;
                    border: 1px solid #bbb;
                    border-radius: 50%;
                    z-index: 10;

                    @include media.laptop {
                        width: 30px;
                        height: 30px;
                    }

                    @include media.desktop {
                        padding: 10px;
                        width: auto;
                        height: auto;
                        font-size: 28px;
                    }

                    &:hover {
                        box-shadow: 0 0 6px gray;
                    }

                    &:active {
                        box-shadow: 0 0 3px gray;
                    }

                    &.ordered {
                        background-color: green;
                        color: white;
                    }

                    &.liked {
                        background-color: red;
                        color: white;
                    }
                }
            }
        }
    }
}
