.header {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    box-shadow: 0 3px 10px gray;
    margin-bottom: 25px;

    .menuLogoWrapper {
        display: flex;
        width: 500px;
        align-items: center;
        .homeLink {
            margin-right: 25px;

            &:hover {
                color: blue;
            }
        }

        .title {
            font-size: 20px;
            font-weight: bold;
            margin-right: 25px;
        }
    }

    .loginCartWrapper {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .profile {
            margin-right: 20px;
            width: auto;
            position: relative;

            .accountBtn {
                margin-left: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                border: 1px solid black;
                border-radius: 50%;
            }

            .dropdown {
                padding: 12px;
                width: 250px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                background: white;
                border: 1px solid;
                border-radius: 5px;
                position: absolute;
                top: 45px;
                right: -30px;

                .greeting {
                    margin-bottom: 10px;
                    font-size: 18px;
                }

                .dropdownItems {
                    margin-bottom: 5px;
                    font-size: 16px;
                    cursor: pointer;

                    &:hover {
                        color: rgb(150, 150, 150);
                    }
                }

                .loginForm {
                    margin-top: 10px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;


                    .logInput {
                        margin-bottom: 10px;
                        padding: 4px 8px;
                        border: 1px solid #bbbbbb;
                        border-radius: 5px;
                    }

                    .dropdownBtnWrapper {
                        width: 100%;
                        display: flex;
                        justify-content: space-around;

                        .logBtn {
                            margin: auto;
                            padding: 4px 8px;
                            width: 70px;
                            background: none;
                            color: #bbbbbb;
                            border: 1px solid #bbbbbb;
                            border-radius: 5px;

                            &:hover {
                                color: black;
                                border-color: black;
                                box-shadow: 0 0 3px;
                            }

                            &:active {
                                box-shadow: 0 0 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.main {
    margin-bottom: 20px;
    min-height: 700px;
}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    padding: 0 20px;
    background: white;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
  }