@use 'mixins/MediaMixins' as media;

$lightgrayBorder: #bbbbbb;
// $backgroudGradient: linear-gradient(180deg, #170029 37%, #ffffff 100%);
$backgroudGradient: white;
$gray: gray;
$white: white;
$backOnHover: #cccccc;
$backgroundHeader: white;
$black: black;
$red: red;

.logBtn {
    margin: auto;
    padding: 4px 8px;
    width: 70px;
    background: none;
    border: 1px solid $lightgrayBorder;
    border-radius: 5px;
    cursor: pointer;

    @include media.mobileS {
        padding: 2px 4px;
        width: auto;
        font-size: 14px;
    }

    @include media.laptop {
        padding: 5px 10px;
        font-size: 14px;
    }

    &:hover {
        color: $black;
        border-color: $black;
        box-shadow: 0 2px 6px $gray;
    }

    &:active {
        box-shadow: 0 0 3px;
    }
}

.header {
    margin-bottom: 25px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $backgroundHeader;
    color: $black;
    box-shadow: 0 3px 10px $gray;
    position: fixed;
    z-index: 1000;

    @include media.mobileS {
        padding-left: 10px;
        margin-bottom: 15px;
        height: 50px;
        font-size: 16px;
    }

    @include media.laptop {
        height: 90px;
        font-size: 16px;
    }

    @include media.desktop {
        font-size: 18px;
    }

    .logoWrapper {
        padding-left: 10px;
        width: 500px;
        height: 100%;
        display: flex;
        align-items: center;

        @include media.mobileS {
            width: auto;
        }

        .homeLink {
            margin-right: 25px;
            height: 100%;
            display: flex;
            align-items: center;

            @include media.mobileS {
                display: none;
            }

            @include media.laptop {
                display: flex;
            }

            @include media.desktop {
                font-size: 18px;
            }
        }

        .categoriesLinkWrapper {
            height: 100%;
            display: flex;
            align-items: center;
        }

        .logoNameWrapper {
            display: flex;
            align-items: center;
            font-weight: bold;
            margin-right: 25px;
            
            .siteName {
                font-size: 16px;

                @include media.laptop {
                    font-size: 24px;
                }

                @include media.desktop {
                    font-size: 28px;
                }
            }

            .logo {
                content: url('../public/panda-logo-poly.png');
                margin-right: 10px;
                width: 30px;
                height: 30px;

                &:hover {
                    filter: drop-shadow(-5px 5px 5px gray);

                }

                @include media.mobileS {
                    margin: 0;
                    display: none;
                }

                @include media.laptop {
                    display: flex;
                    width: 50px;
                    height: 50px;
                }

                @include media.desktop {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

    .loginCartWrapper {
        padding-right: 10px;
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;

        @include media.laptop {
            font-size: 20px;
        }

        .profile {
            margin-right: 20px;
            width: auto;

            @include media.mobileS {
                margin-right: 5px;
            }

            @include media.laptop {
                margin-left:  15px;
            }

            .accountBtn {
                margin-left: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $black;
                border-radius: 50%;
                overflow: hidden;

                @include media.mobileS {
                    width: 35px;
                    height: 35px;
                    margin-left: 5px;
                }

                @include media.laptop {
                    width: 45px;
                    height: 45px;
                    font-size: 32px;
                }

                @include media.desktop {
                    font-size: 38px;
                }

                .imageWrapper {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    border-radius: 50%;

                    @include media.laptop {
                        width: 100%;
                        height: 100%;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

.mainFooterWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: $backgroudGradient;

    .main {
        margin-top: 90px;
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: center;

        @include media.mobileS {
            margin: 50px 0;
        }

        @include media.laptop {
            margin-top: 100px;
            margin-bottom: 50px;
        }

        @include media.desktop {
            width: 1400px;
        }
    }

    .footer {
        padding: 5px 20px;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $white;
        color: $black;
        border-top: 1px solid $backOnHover;
        position: relative;
        bottom: 0;

        h5 {
            margin: 0;
            padding: 0;
        }

        p {
            font-size: 10px;
            font-weight: lighter;
        }

        @include media.mobileS {
            p {
                margin: 0;
            }
        }
    }
}
